<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="css/productpage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Analytics</title>
</head>

<body>
    <!-- Nav Bar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Store button (Brand Button) -->
        <a class="navbar-brand" href="#"> Store </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Non-Brand items  -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        Analytics Tool<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Profile </a>
                </li>
            </ul>
            <!-- Search Bar -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>
        </div>
    </nav>
    <!-- Product Title -->
    <div class="container">
        <div class="mt-5">
            <h5>Top Sellar - Analytics Or Custom Or its a Mix</h5>
            <div class="container">
                <div class="row">
                    <div class=></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Sellar Analyic Display -->
    <div class="container " id="topSellarChart">
        <div class="row justify-content-center">
            <div class="col-md-12 px-0 mb-0 ">
                <div class="row justify-content-center">
                    <div class="col-md-6 px-0 mb-0 " id="slideShow">
                        <div class="thumbnail">
                            <img id="slideShowImg"
                                src="https://cdn-images-1.medium.com/max/1600/1*LeFD2yGfNxdTEX3y71VxoA.jpeg"
                                alt="Template Image"> </div>
                    </div>
                    <!-- Analytic Tool Side Panel ?-->
                    <div class="col-md-2 ml-4 bg-dark" id="analyticSidePanel1">
                    </div>
                </div>
            </div>
        </div>
        <!-- Remove this later -->
        <P class="ml-5"><strong>Unsure where to put toolbar so imaging it next to the chart image above or where the
                dark container is at.</strong></p>
        <!-- Genre and Mode of play (single vs mulitplayer)     -->
        <div class="container mt-5 " id="AllChart">
            <div class="row justify-content-center">
                <div class="col-md-12 px-1 mb-0">
                    <div class="row justify-content-center">
                        <div class="col-md-6 px-1 mb-0 " id="slideShow">
                            <h5>Genre - Analytics</h5>
                            <div class="thumbnail">
                                <img id="slideShowImg"
                                    src="https://cdn-images-1.medium.com/max/1600/1*LeFD2yGfNxdTEX3y71VxoA.jpeg"
                                    alt="Template Image"> </div>
                        </div>
                        <!-- Analytic Side Panel -->
                        <div class="col-md-6 px-1 mb-0 " id="slideShow">
                            <h5>Mode of Play (Singleplayer Vs Multiplayer) - Analytics</h5>
                            <div class="thumbnail">
                                <img id="slideShowImg"
                                    src="https://cdn-images-1.medium.com/max/1600/1*LeFD2yGfNxdTEX3y71VxoA.jpeg"
                                    alt="Template Image"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--Company and Base/DLC(Base Game vs DLC Sales)     -->
        <div class="container mt-5 " id="AllChart">
            <div class="row justify-content-center">
                <div class="col-md-12 px-1 mb-0">
                    <div class="row justify-content-center">
                        <div class="col-md-6 px-1 mb-0 " id="slideShow">
                            <h5>Company - Analytics</h5>
                            <div class="thumbnail">
                                <img id="slideShowImg"
                                    src="https://cdn-images-1.medium.com/max/1600/1*LeFD2yGfNxdTEX3y71VxoA.jpeg"
                                    alt="Template Image"> </div>
                        </div>
                        <!-- Analytic Side Panel -->
                        <div class="col-md-6 px-1 mb-0 " id="slideShow">
                            <h5>Base Game Vs DLC Sales- Analytics</h5>
                            <div class="thumbnail">
                                <img id="slideShowImg"
                                    src="https://cdn-images-1.medium.com/max/1600/1*LeFD2yGfNxdTEX3y71VxoA.jpeg"
                                    alt="Template Image"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</html>