<html lang="en">

<head>
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="../stylesheets/productpage.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      
    <title>Document</title>
</head>

<body>
    <!-- Reviews -->
    <div class="container fluid" id="reviewBody">
        <div class="row justify-content-center">
            <div class="col-md-12 px-0 mb-0">
                <div class="row justify-content-center">
                    <div class="col-md-10 px-5 mb-0 border border dark bg-grey text-dark" id="reviews">
                        <p> <b>name : Ash </b>
                            <br>
                            <em>Posted Date : 10/5/2019</em>
                        </p>
                        <div class="fiveStars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                              </div>
                        <hr>
                        <p>I got it as a gift from one of my friends but I spent more than 300 hours on it. Great game
                            to play if you're into farming and battling big dinosaur dragon monsters. Even better with
                            friends and if you don't have any, matchmaking it's a thing and people generally know what
                            they are doing. Plenty of contents so it's hardly boring. Definitely recommended.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container fluid" id="reviewBody">
            <div class="row justify-content-center">
                <div class="col-md-12 px-0 mb-0">
                    <div class="row justify-content-center">
                        <div class="col-md-10 px-5 mb-0 border border dark bg-grey text-dark" id="reviews">
                            <p> <b>name : 11 </b>
                                <br>
                                <em>Posted Date : 9/5/2019</em>
                                <div class="fourStars">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                 
                                      </div>
                            </p>
                            
                            <hr>
                            <p>It's a great game for new players to the franchise to get started.

                                    Great graphics and somewhat challenging gameplay.
                                    
                                    100% recommended.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container fluid" id="reviewBody">
                <div class="row justify-content-center">
                    <div class="col-md-12 px-0 mb-0">
                        <div class="row justify-content-center">
                            <div class="col-md-10 px-5 mb-0 border border dark bg-grey text-dark" id="reviews">
                                <p> <b>name : wow </b>
                                    <br>
                                    <em>Posted Date : 11/5/2019</em>
                                    <div class="threeStars">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                          </div>
            
                                </p>
                                <hr>
                                <p>Other than than the annoying content delays, HIGHLY RECOMMENDED, especially with friends :D
                               </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <form>
        <div class="container fluid" id="reviewBody">
            <div class="row justify-content-center">
                <div class="col-md-12 px-0 mb-0">
                    <div class="row justify-content-center">
                        <div class="col-md-10 px-5 mb-0 border border dark bg-grey text-dark" id="reviews">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Comment</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body> 

</html>