<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../stylesheets/productpage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawChart2);
      google.charts.setOnLoadCallback(drawChart3);

      var month = [<%- mon %> ];
      var optionsLineChart = {
    title: 'Sales Performance',
    series: {
      curveType: 'function'
    },
    legend: { position: 'bottom' }
  };
      function drawChart() {
    //Google chart visualization data table
    console.log("Drawing sales performance chart")
    var data = new google.visualization.DataTable();
    var Header = ['month', '<%- prod.title %>'];
    var HeaderType = ['string','number'];
    for (let index = 0; index < Header.length; index++) {
      data.addColumn(HeaderType[index], Header[index]);
    }
    //Errors signs are just their they do not affect the function of the system or indicate any real errors. Could just be IDE being unable to comprehend the action being written.
    var chartsdata = [<%- data %>];
    for (var i = 0; i < month.length; i++) {
      var temp = [];
      temp.push(month[i]);
      for (var index = 0; index < (Header.length - 1); index++) {

        temp.push(chartsdata[i + (index * month.length)]);
      }
      data.addRow(temp);
    }
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    chart.draw(data, optionsLineChart);
  }
  //review month line chart
  function drawChart2() {
        var data = google.visualization.arrayToDataTable([
          ['Year', '1', '2', '3', '4', '5'],
          ['2004',  1000,      400, 500, 600, 700],
          ['2005',  1170,      460, 500, 600, 700],
          ['2006',  660,       1120, 500, 600, 700],
          ['2007',  1030,      540, 500, 600, 700]
        ]);

        var options = {
          title: 'Review Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart2'));

        chart.draw(data, options);
      }
      //new graph
      function drawChart3() {
        var data = google.visualization.arrayToDataTable([
          ['Review Stars', 'Ratio'],
          ['5',     11],
          ['4',      2],
          ['3',  2],
          ['2 ', 2],
          ['1',    7]
        ]);

        var options = {
          title: 'Review Ratio',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('curve_chart3'));
        chart.draw(data, options);
      }
    </script>
    <title>Analytics</title>
</head>

<body>
    <!-- Nav Bar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Store button (Brand Button) -->
        <a class="navbar-brand" href="#"> Store </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Non-Brand items  -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        Analytics Tool<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Profile </a>
                </li>
            </ul>
            <!-- Search Bar -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>
        </div>
    </nav>
    <!-- Product Title -->
    <div class="container">
        <div class="mt-5">
            <h5>Monster Hunter World - Analytics</h5>
            <div class="container">
                <div class="row">
                    <div class=></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Analyic Display -->
    <div class="container " id="AllChart">
        <div class="row justify-content-center">
            <div class="col-md-12 px-0 mb-0 ">
                <div class="row justify-content-center">
                   
                        <div class="thumbnail">
                                <div id="curve_chart" style="width: 900px; height: 500px"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container " id="AllChart">
            <div class="row justify-content-center">
                <div class="col-md-12 px-0 mb-0 ">
                    <div class="row justify-content-center">
                            <div class="col-md-4 px-1 mb-0 " id="salesGraph">
                                    <div class="thumbnail">
                                            <div id="curve_chart3" style="width: 500px; height: 500px"></div></div>
                                </div>
                        <div class="col-md-6 px-1 mb-0 " id="salesGraph">

                            <div class="thumbnail">
                                    <div id="curve_chart2" style="width: 900px; height: 500px"></div></div>
                        </div>
                      
                    </div>
                </div>
            </div>
  
    <br>
    <br>
    <br>
    <table class="table table-striped table-dark table-bordered ">
            <thead>
              <tr>
                <th scope="col">Sales Report</th>
                <th scope="col">January </th>
                <th scope="col">February</th>
                <th scope="col">March </th>
                <th scope="col">April  </th>
                <th scope="col">May </th>
                <th scope="col">June  </th>
                <th scope="col">July  </th>
                <th scope="col">August </th>
                <th scope="col">September  </th>
                <th scope="col">October  </th>
                <th scope="col">November </th>
                <th scope="col">December  </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">By Months :</th>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
              </tr>
            </tbody>
          </table>
          <br>
          <table class="table table-striped table-dark table-bordered ">
                <thead>
                  <tr>
                    <th scope="col">Review Report</th>
                    <th scope="col">January </th>
                    <th scope="col">February</th>
                    <th scope="col">March </th>
                    <th scope="col">April  </th>
                    <th scope="col">May </th>
                    <th scope="col">June  </th>
                    <th scope="col">July  </th>
                    <th scope="col">August </th>
                    <th scope="col">September  </th>
                    <th scope="col">October  </th>
                    <th scope="col">November </th>
                    <th scope="col">December  </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-primary">
                    <th scope="row" >5 stars:</th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                  </tr>
                  <tr class="bg-danger">
                        <th scope="row">4 stars :</th>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                      </tr>
                      <tr class="bg-warning">
                            <th scope="row">3 stars :</th>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                          </tr>
                          <tr class="bg-success">
                                <th scope="row">2 stars :</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                              </tr>
                              <tr class="bg-info">
                                    <th scope="row">1 stars :</th>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                    <td>12</td>
                                  </tr>
                </tbody>
              </table>
          <br>
          <br>
          <br>
                    <!-- Analytic Side Panel -->
                    <div class="col-md-2 ml-4" id="analyticSidePanel1">
                        <div class="fiveStars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <div class="fourStars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <div class="threeStars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <div class="twoStars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <div class="oneStars">
                            <span class="fa fa-star checked"></span>
                        </div>

                        <p class="developer mt-3"> Developer : </p>
                        <p class="publisher"> Publisher : </p>
                        <p class="releaseDate"> Release Date : </p>
                        <p class="price"> Price : </p>
                        <p class="rating"> Product Rating :</p>

                        <button type="button" class="btn btn-success btn-lg"> BUY </button>
                    </div>
                    <div class="col-md-2" id="analyticSidePanel2">
                        <p>Insert Review Score + Info</p>
                        <button type="button" class="btn btn-primary btn-lg"> Product Page </button>
                        <br>
                        <br>
                        <button type="button" class="btn btn-danger btn-lg"> Print Report </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <P class="ml-5"><strong>Unsure where to put toolbar so imaging it next to the chart image above</strong></p>

    </div>
    <!-- Line -->
    <hr class=line>
    <!-- Techniqual Specs + Reusing Same ID'S as slideshowentire-->
    <div class="container " id="slideShowEntire">
        <div class="row justify-content-center">
            <div class="col-md-12 px-0 mb-0 ">
                <div class="row justify-content-center">
                    <div class="col-md-6 px-0 mb-0 " id="slideShow">
                        <!-- Image Spec -->
                        <div class="thumbnail">
                            <img id="slideShowImg" src="imgs/Specs.JPG" alt="Template Image"> </div>
                    </div>
                    <!-- Genre  -->
                    <div class="col-md-2 ml-4 border border-dark bg-light" id="sidePanel1">
                        <div class="genre">
                            <h6><strong><u>Genre</u></strong></h6>
                            <p>Action</p>
                            <p>RPG</p>
                            <P>Slash And Hack</P>
                            <p>Adventure</p>
                            <p>Grind</p>
                        </div>
                    </div>
                    <!-- Mode of play -->
                    <div class="col-md-2 ml-4 border border-dark bg-light" id="sidePanel2">
                        <h6><strong><u>Play Mode</u></strong></h6>
                        <p> Single-Player</p>
                        <p> Multi-Player</p>
                        <p> Online-Coop</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Line -->
    <hr class="line">
    <!-- Reviews -->
    <div class="container fluid mt-5" id="reviewBody">
        <div class="row justify-content-center">
            <div class="col-md-12 px-0 mb-0">
                <div class="row justify-content-center">
                    <div class="col-md-10 px-0 mb-0 border border dark bg-dark text-light" id="reviews">
                        <p>Insert Review</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

</html>