<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="css/productpage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/storepage.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Store Page</title>
</head>

<body>
    <!-- Nav Bar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Store button (Brand Button) -->
        <a class="navbar-brand" href="#"> Store </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Non-Brand items  -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        Analytics Tool<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Profile </a>
                </li>
            </ul>
            <!-- Search Bar -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>
        </div>
    </nav>
    <!-- Promoted items -->
    <div class="container mt-3 px-0">
        <h4>Promoted Items</h4>
    </div>
    <div class="container" id="promotedItemsEntire">
        <div class="row">
            <div class="col-md-12 px-0 mb-0 ">
                <div class="row">
                    <!-- 1st item -->
                    <div class="col-md-4 px-1 mb-0 " id="promotedItems">
                        <div class="thumbnail">
                            <a href="productpage.html">
                                <img id="promotedItemsImg"
                                    src="https://pmcvariety.files.wordpress.com/2018/05/monter-hunter.jpg?w=1000&h=563&crop=1"
                                    alt="Template Image">
                            </a>
                        </div>
                    </div>
                    <!-- 2nd item -->
                    <div class="col-md-4 px-1 mb-0 " id="promotedItems">
                        <div class="thumbnail">
                            <a href="productpage.html">
                                <img id="promotedItemsImg"
                                    src="https://www.grabpcgames.com/wp-content/uploads/2018/07/total-wars-three-kingdoms-780x405.jpg"
                                    alt="Template Image">
                            </a>
                        </div>
                    </div>
                    <!-- 3rd item -->
                    <div class="col-md-4 px-1 mb-0 " id="promotedItems">
                        <div class="thumbnail">
                            <a href="productpage.html">
                                <img id="promotedItemsImg"
                                    src="https://sm.ign.com/ign_ap/screenshot/default/cover_rbt3.png"
                                    alt="Template Image">
                            </a>
                        </div>
                    </div>

                    <!-- Top sellers        -->
                    <div class="container mt-3 px-0">
                        <h4>Top Sellars</h4>
                    </div>
                    <div class="container" id="topItemsEntire">
                        <div class="row">
                            <div class="col-md-12 px-0 mb-0 ">
                                <div class="row">
                                    <!-- 1st item -->
                                    <div class="col-md-4 px-1 mb-0 " id="topItems">
                                        <div class="thumbnail">
                                            <a href="productpage.html">
                                                <img id="topItemsImg"
                                                    src="https://cdn.images.dailystar.co.uk/dynamic/184/photos/246000/620x/Cyberpunk-2077-Release-date-update-from-the-developers-is-good-and-bad-news-765536.jpg?r=5c8f71ac02b42"
                                                    alt="Template Image">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- 2nd item -->
                                    <div class="col-md-4 px-1 mb-0 " id="topItems">
                                        <div class="thumbnail">
                                            <a href="productpage.html">
                                                <img id="topItemsImg"
                                                    src="https://steamcdn-a.akamaihd.net/steam/apps/794260/header.jpg?t=1552915007"
                                                    alt="Template Image">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- 3rd item -->
                                    <div class="col-md-4 px-1 mb-0 " id="topItems">
                                        <div class="thumbnail">
                                            <a href="productpage.html">
                                                <img id="topItemsImg"
                                                    src="https://www.thenerdmag.com/wp-content/uploads/2019/02/Imperator-Rome.jpg"
                                                    alt="Template Image">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>