#slideShow {
    height: 377px;
    width: 600px;
}
#sidePanel1{
height: 377px;
}
#sidePanel2{

height: 377px;
}
#slideShowImg{
    width:100%;
    height:100%;
}
#slideShowEntire{
    overflow:hidden;
}

.checked {
  color: orange;
}
.line{
    border-color: #393e46;
}
#productDescription{
    width: 100%;
}
