/* Used across multiple pages as a lot of the formats to inserts graphs, containers etc are reusable */

#slideShow {
    height: 400px;
    width: 600px;
}
#sidePanel1{
height: 400px;
}
#sidePanel2{

height: 400px;
}
#slideShowImg{
    width:100%;
    height:100%;
}
#slideShowEntire{
    overflow:hidden;
}

.checked {
  color: orange;
}
.line{
    border-color: #393e46;
}
#productDescription{
    width: 100%;
}
#inlineButton {
    display: inline;
}
#tick{
    font-size: 50px;

}

#tick2{
    font-size: 25px;
}